#highscores {
    position: absolute;
    top: 15px;
    left: 15px;
}
#time {
    position: absolute;
    top: 15px;
    right: 15px;
}
.startdiv{
    text-align: center;
}
.outerdiv{
    max-width: 600px;
    margin: 90px auto 0 auto;
}

.hidden{
    display: none;
}